<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Корзина</title>
</head>

<body>
<!--Header-->
<header th:replace="header :: head"/>

<!--Main-->
<div class="container-fluid">
    <div class="row">
        <div th:replace="header :: leftBar"/>
        <!--Заменяемая часть-->
        <div class="col">
            <h1>Корзина товаров</h1>

            <table class="table table-stripped">
                <thead>
                <th scope="col">Изображение</th>
                <th scope="col">Наименование</th>
                <th scope="col">Цена</th>
                <th scope="col">Удалить/уменьшить/увеличить кол-во</th>
                <th scope="col">Кол-во</th>
                </thead>
                <tbody>
                <tr th:each="productEntry: ${items}">
                    <td><img th:src="${productEntry.key.img}"></td>
                    <td><p th:text="${productEntry.key.name}"></p></td>
                    <td><p th:text="${productEntry.key.price}"></p></td>
                    <td>
                        <a th:href="@{/basket/delete?code={id}(id=${productEntry.key.id})}">Удалить товар</a>
                        <a th:href="@{/basket/change?code={id}&type=minus(id=${productEntry.key.id})}">-</a>
                        <a th:href="@{/basket/change?code={id}&type=plus(id=${productEntry.key.id})}">+</a>
                    </td>
                    <td><p th:text="${productEntry.value}"></p></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>