<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Каталог &#8211; ETSM </title>
</head>
<body>
<!--Header-->
<header th:replace="header :: head"/>

<!--Main-->
<div class="container-fluid">
    <div class="row">
        <div th:replace="header :: leftBar"/>
        <!--Заменяемая часть-->
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a th:href="@{/catalog/{categoryName}(categoryName=${currSubCategory.category_id.name})}"
                           th:text="${currSubCategory.category_id.name}">
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${currSubCategory.name}">
                </ol>
            </nav>

            <div class="row">
                <form class="input-group" th:action="@{/search}" method="get">
                    <input class="form-control" type="search" placeholder="Поиск" area-label="Search"
                           aria-describedby="button-addon" name="searchProduct">
                    <div class="input-group-append">
                        <input class="btn btn-outline-success" type="submit" id="button-addon" value="Поиск">
                    </div>
                    <input type="hidden" name="categoryName" th:value="${currSubCategory.category_id.name}">
                </form>
            </div>

            <h1 th:text="${currSubCategory.name}"></h1>
            <div class="row">
                <div data-th-each="minorCategory : ${minorCategories}" class="col">
                    <br>
                    <div>
                        <a class="btn btn-outline-secondary btn-block"
                           th:href="@{/catalog/category/subCategory/{minorCategoryName}(minorCategoryName=${minorCategory.name})}">
                            <label th:text="${minorCategory.name}"></label>
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>