<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Каталог &#8211; ETSM </title>
</head>
<body>
<table style="width: 675px;">
    <tbody>
    <tr>
        <td style="width: 10px;"><form th:action="@{/}" method="get"><input type="submit" value="Главная"/></form></td>
        <td style="width: 390px;"><form th:action="@{/catalog/list}" method="get"><input type="submit" value="Каталог товаров" /></form></td>
        <td style="width: 390px;"><form th:action="@{/admin}" method="get"><input type="submit" value="Панель администратора"/></form></td>
        <td style="width: 87px;"><form th:action="@{/basket}" method="get"><input type="submit" value="Корзина" /></form></td>
        <td style="width: 206px;"><form th:action="@{/user}" method="get"><input type="submit" value="Личный кабинет" /></form></td>
        <td style="width: 206px;"><form th:action="@{/registration}" method="get"><input type="submit" value="Регистрация" /></form></td>
    </tr>
    </tbody>
</table>

<h1>Страница каталога товаров</h1>
<table style="height: 16px;" width="701">
    <tbody>
    <tr>
        <td style="width: 342px;">
            <h3>Индекс товара</h3>
            <li data-th-each="product : ${products}" class="product">
                <a data-th-href="@{/catalog/{productId}(productId=${product.id})}"
                   data-th-text="${product.id}"><hr/></a>
            </li>
        </td>
        <td style="width: 343px;">
            <h3>Наименование</h3>
            <li data-th-each="product : ${products}" class="product">
                <a data-th-href="@{/catalog/{productId}(productId=${product.id})}"
                   data-th-text="${product.name}"><hr/></a>
            </li>
        </td>
    </tr>
    <tr>
        <form th:action="@{/catalog/addProduct}" method="get"><input type="submit" value="Добавить товар"></form>
    </tr>
    </tbody>
</table>
</body>
</html>