<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница ETSM</title>
</head>
<body>
    <table style="width: 675px;">
        <tbody>
        <tr>
            <td style="width: 10px;"><form th:action="@{/}" method="get"><input type="submit" value="Главная"/></form></td>
            <td style="width: 390px;"><form th:action="@{/catalog/list}" method="get"><input type="submit" value="Каталог товаров" /></form></td>
            <td style="width: 390px;"><form th:action="@{/admin}" method="get"><input type="submit" value="Панель администратора"/></form></td>
            <td style="width: 87px;"><form th:action="@{/basket}" method="get"><input type="submit" value="Корзина" /></form></td>
            <td style="width: 206px;"><form th:action="@{/user}" method="get"><input type="submit" value="Личный кабинет" /></form></td>
            <td style="width: 206px;"><form th:action="@{/registration}" method="get"><input type="submit" value="Регистрация" /></form></td>
        </tr>
        </tbody>
    </table>

    <table style="width: 380px; height: 37px;">
        <tbody>
        <tr>
            <td style="width: 274px;">
                <h1><strong>Это главная страница</strong></h1>
                <hr /></td>
        </tr>
        </tbody>
    </table>

    <p>Поиск товаров <input name="productID" type="search" /></p>
    <h3>Рекомендации</h3>
    <table style="width: 679px;" border="1">
        <tbody>
        <tr>
            <td th:each="product:${products}" class="product">
                <form th:action="@{/catalog/{productId}(productId=${product.id})}" method="get">
                    <button data-th-text="${product.name}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>