<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная страница ETSM</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!--Header-->
<header th:replace="header :: head"/>

<!--    Главная часть-->
<div class="container-fluid">
    <div class="row">
        <!--        <div th:replace="header :: leftBar"/>-->

        <!--        Заменяемая часть-->
        <div class="col">
            <br>
            <form class="input-group" th:action="@{/search?searchProduct=searching}" method="get">
                <input class="form-control" type="search" placeholder="Поиск" area-label="Search"
                       aria-describedby="button-addon" name="searchProduct">
                <div class="input-group-append">
                    <input class="btn btn-outline-success" type="submit" id="button-addon" value="Поиск">
                </div>
            </form>

            <div th:switch="${searchProducts.size()}">
                <div class="container" th:case="0">
                    <h4>Совпадений не найдено</h4>
                </div>
                <div th:case="*" class="row">
                    <div class="col-4 container" th:each="product: ${searchProducts}">
                        <br>
                        <div>
                            <a class="btn btn-outline-dark"
                               th:href="@{/catalog/details/{productName}(productName=${product.name})}">
                                <img height="150" width="300" class="img" th:src="${product.img}">
                                <div>
                                    <label th:text="${'Название ' + product.name}"></label>
                                </div>
                                <div>
                                    <label th:text="${'Цена ' + product.price}"></label>
                                </div>
                                <form th:unless="${product.productAttrValue.isEmpty()}" class="form-inline">
                                    <p class="border" th:with="attribute=${product.productAttrValue[0]}"
                                       th:text="${attribute.value}"></p>
                                    <p class="border" th:with="attribute=${product.productAttrValue[1]}"
                                       th:text="${attribute.value}"></p>
                                </form>
                            </a>
                            <div>
                                <a class="btn btn-primary" th:href="@{/buyProduct?code={id}(id=${product.id})}">Добавить
                                    в корзину</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${pages.size() > 1}" class="row">
        <div class="container">
            <nav class="form-inline justify-content-center">
                <ul th:each="productPage, state: ${pages}" class="pagination pagination-lg">
                    <li class="page-item">

                        <!--                            <input class="page-link" type="submit" th:value="${state.index + 1}">-->

                        <a th:text="${state.index + 1}" class="page-link"
                           th:href="@{/search?searchProduct={Search}&page={pageNumber}(Search=${search}, pageNumber=${state.index})}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>