<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Поиск</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!--Header-->
<header th:replace="header :: head"/>

<!--    Главная часть-->
<form class="input-group" th:action="@{/search}" method="get">
    <div class="container-fluid">
        <div class="row form-group">
            <!--        <div th:replace="header :: leftBar"/>-->

            <!--        Заменяемая часть-->
            <div class="col">
                <br>
                <div class="input-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalParams">
                        Параметры поиска
                    </button>
                    <div class="modal fade" id="modalParams" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Параметры</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <label for="sortHolder" class="font-weight-bold">Сортировка</label>
                                        <select id="sortHolder" class="custom-select form-control" name="sortParam"
                                                th:switch="${sortParam}">
                                            <option th:case="name" th:value="${sortParam}"
                                                    selected="selected">Имя
                                            </option>
                                            <option th:case="price" th:value="${sortParam}"
                                                    selected="selected">Цена
                                            </option>
                                            <option th:case="count" th:value="${sortParam}"
                                                    selected="selected">Кол-во
                                            </option>
                                            <option th:unless="${sortParam} == name" value="name">Имя</option>
                                            <option th:unless="${sortParam} == price" value="price">Цена</option>
                                            <option th:unless="${sortParam} == count" value="count">Кол-во</option>
                                        </select>
                                    </div>
                                    <div class="row form-group">
                                        <label for="priceHolder" class="font-weight-bold">Фильтрация по цене</label>
                                        <input class="form-control" id="priceHolder" type="number" name="maxPrice"
                                               th:value="${maxPrice}">
                                    </div>
                                    <div class="row form-group">
                                        <label for="categoryHolder" class="font-weight-bold">Фильтрация по
                                            категории</label>
                                        <select id="categoryHolder" class="custom-select form-control"
                                                name="categoryName">
                                            <option th:unless="${categoryName} == all" th:value="${categoryName}"
                                                    th:text="${categoryName}" selected></option>
                                            <option value="all">Все категории</option>
                                            <div>
                                                <option th:each="category:${categories}"
                                                        th:unless="${categoryName} == ${category.name}"
                                                        th:value="${category.name}"
                                                        th:text="${category.name}"></option>
                                            </div>
                                        </select>
                                    </div>
                                    <div class="row form-group">
                                        <div>
                                            <label class="font-weight-bold">Фильтрация по атрибутам</label>
                                            <div th:each="attrParam:${attributes}">
                                                <div class="dropdown-item">
                                                    <input class="custom-checkbox" type="checkbox"
                                                           th:field="${attributesParams.attrValues}"
                                                           th:value="${attrParam.id}">
                                                    <label th:text="${attrParam.value}"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="Сохранить и фильтровать">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input class="form-control" type="search" placeholder="Поиск" area-label="Search"
                           aria-describedby="button-addon" name="searchProduct" th:value="${search}">
                    <div class="input-group-append">
                        <input class="btn btn-outline-success" type="submit" id="button-addon" value="Поиск">
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row" th:switch="${searchProducts.size()}">
                        <div class="col-2">
                            <h4>Выбранные параметры</h4>
                            <div th:switch="${sortParam}">
                                <label class="font-weight-bold">Категория поиска:</label>
                                <p th:case="all" type="text" disabled>Все категории</p>
                                <p th:case="*" type="text" disabled th:text="${categoryName}"></p>
                            </div>
                            <div>
                                <label for="price" class="font-weight-bold">Цена до:</label>
                                <p id="price" type="text" disabled th:text="${maxPrice}">
                            </div>
                            <div th:switch="${sortParam}">
                                <label class="font-weight-bold">Сортировка по:</label>
                                <p th:case="name">Имя</p>
                                <p th:case="price">Цена</p>
                                <p th:case="count">Кол-во</p>
                            </div>
                            <div>
                                <label class="font-weight-bold">Фильтр по атрибутам:</label>
                                <div th:each="attr : ${attributeParams.attrValues}">
                                    <p type="text" disabled th:text="${attr.value}">
                                </div>
                            </div>
                        </div>
                        <div class="col" th:case="0">
                            <h4>Совпадений не найдено</h4>
                        </div>
                        <div class="col" th:case="*">
                            <div class="row">
                                <div class="col" th:each="product: ${searchProducts}">
                                    <br>
                                    <a class="btn btn-outline-dark"
                                       th:href="@{/catalog/details/{productName}(productName=${product.name})}">
                                        <img height="150" width="300" class="img" th:src="${product.img}">
                                        <div>
                                            <label th:text="${'Название ' + product.name}"></label>
                                        </div>
                                        <div>
                                            <label th:text="${'Цена ' + product.price}"></label>
                                            <label th:text="${'Кол-во ' + product.count}"></label>
                                        </div>
                                        <div>
                                            <p class="border" th:with="minor = ${product.minorcategoryid}"
                                               th:text="${minor.name}"></p>
                                        </div>
                                    </a>
                                    <div>
                                        <a class="btn btn-primary" th:href="@{/buyProduct?code={id}(id=${product.id})}">Добавить
                                            в корзину</a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${pages.size() > 1}" class="row form-group">
            <div class="container">
                <nav class="input-group justify-content-center">
                    <ul th:each="productPage, state: ${pages}" class="pagination pagination-lg">
                        <li class="page-item">
                            <input type="submit" name="page" th:value="${state.index}" class="page-link">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>