<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>[[${product.name}]] &#8211; ETSM</title>
</head>

<body>
<!--Header-->
<header th:replace="header :: head"/>

<!--Main-->
<div class="container-fluid">
    <div class="row">
        <div th:replace="header :: leftBar"/>
        <!--Заменяемая часть-->
        <div class="col">
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <a href="/">Главная</a>
                        <a th:text=" ' > '"></a>
                        <a th:href="@{/catalog/{categoryName}(categoryName=${product.minorcategory_id.subcategory_id.category_id.name})}"
                           th:text="${product.minorcategory_id.subcategory_id.category_id.name}"></a>
                        <a th:text=" ' > '"></a>
                        <a th:href="@{/catalog/category/{subCategoryName}(subCategoryName=${product.minorcategory_id.subcategory_id.name})}"
                           th:text="${product.minorcategory_id.subcategory_id.name}"></a>
                        <a th:text=" ' > '"></a>
                        <a th:href="@{/catalog/category/subCategory/{minorCategoryName}(minorCategoryName=${product.minorcategory_id.name})}"
                           th:text="${product.minorcategory_id.name}"></a>
                        <a th:text=" ' > '"></a>
                        <a th:text="${product.name}"></a>
                    </div>
                </form>
            </div>
            <br>

            <div class="container-fluid">
                <form class="row">
                    <div class="col">
                        <h1 th:text="${product.name}"></h1>
                        <img class="img" width="600" height="300" th:src="${product.img}">
                    </div>
                    <div class="form-group col">
                        <h1 th:text="'Цена: ' + ${product.price}"></h1>
                        <div>
                            <a class="btn btn-primary btn-lg" th:href="@{/buyProduct?code={id}(id=${product.id})}">Добавить в
                                корзину</a>
                        </div>
                    </div>
                </form>
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="text-left">Описание:</h3>
                        <h3 class="text-left" th:text="${product.description}"></h3>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <h3>Характеристики</h3>
                    </div>
                    <div>
                        <form class="border">
                            <table class="table table-stripped">
                                <thead>
                                <th scope="col">Группа атрибутов</th>
                                <th scope="col">Атрибуты</th>
                                </thead>
                                <tbody>
                                <tr th:each="attributeGR: ${product.attribute_groups}">
                                    <td th:text="${attributeGR.name}"></td>
                                    <td>
                                        <table class="table">
                                            <tbody>
                                            <tr th:each="attribute: ${attributeGR.attribute_id}">
                                                <td>
                                                    <div>
                                                        <a th:text="${attribute.name}"></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div th:each="productAttr: ${attribute.productAttrValue}">
                                                        <div th:if="${productAttr.product == product}">
                                                            <a th:text="${productAttr.value} "></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>